*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #65e5f6, #1e928c);
    color: #fff;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
}
form button{
    color: #1e928c;
    background: #fff;
    cursor: pointer;
    transition: all 0.3 ease;
}
form button:hover{
    background: #1e928c;
    color: #fff;
}


.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo {
    margin: 0.5rem;
    background: #fff;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;
}
.check-btn, .delete-btn{
    background: #e43e46;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.check-btn{
    background-color: rgb(90, 221, 90);
}
.todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash,.fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
